/* style.css */
body{
  margin:0;
  min-height:100vh;
  background:#0f172a;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#e5e7eb;
}

.box{
  background:#020617;
  padding:25px;
  border-radius:12px;
  width:420px;
  box-shadow:0 0 25px #000;
}

h2{
  text-align:center;
  margin-bottom:15px;
}

label{
  font-size:13px;
  color:#9ca3af;
}

input,select{
  width:100%;
  margin:6px 0 12px;
  padding:9px;
  border-radius:6px;
  border:none;
  background:#020617;
  color:#fff;
}

button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#7c3aed;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

pre{
  margin-top:12px;
  background:#020617;
  padding:10px;
  border-radius:6px;
  font-size:12px;
  overflow:auto;
}
